<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TYSS HR MANAGEMENT SYSTEM</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

              <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-log-in"></span>change_password</a></li>
              <li><a href="{% url 'user_logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% else %}

              <li><a href="{% url 'user_login_Delivery_Team' %}"><span class="glyphicon glyphicon-log-in"></span> Login/DeliveryTeam</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login/BU</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login/Finance</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login/HR</a></li>
            {% endif %}


          </ul>
        </div>
      </nav>


    <h1>Complete Details of {{object.Candidate_Name}}</h1>
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
      <tr>
          <th>Candidate ID</th>
          <th>Candidate_Name</th>
          <th>Email_ID</th>
          <th>Contact_Number</th>
          <th>Experience</th>
          <th>Total_Experience</th>
          <th>Relevant_Experience</th>
          <th>Skill_Set</th>
          <th>Current_CTC</th>
          <th>Notice_Period</th>

          <th>Employement_Type</th>
          <th>Approve/Hold/DeliveryTeam</th>
          <th>Approve/Hold/BU</th>
          <th>Approve/Hold/HR</th>
          <th>Approve/Hold/Finance</th>


      </tr>
      </thead>
      <tbody>

      <tr>
          <td>{{ object.id }}</td>
          <td>{{ object.Candidate_Name }}</td>
          <td>{{ object.Email_ID }}</td>
          <td>{{ object.Contact_Number }}</td>
          <td>{{object.Experience}}</td>
          <td>{{object.Total_Experience}}</td>
          <td>{{object.Relevant_Experience}}</td>
          <td>{{object.Skill_Set}}</td>
          <td>{{object.Current_CTC}}</td>
          <td>{{object.Notice_Period}}</td>
          <td>{{object.Employement_Type}}</td>

          <td>{{object.Actions}}</td>
          <td>{{object.Actions2}}</td>
          <td>{{object.Actions3}}</td>
          <td>{{object.Actions4}}</td>


      </tr>

      </tbody>
  </table>

  <td><center><a class="btn btn-danger" href="{%  url 'candidate_update_finance' object.id%}" role="button">Approve/Hold</center></a></td>

  </body>
</html>
